
div(class="mdl-layout mdl-js-layout mdl-layout--fixed-header")
  header(class="mdl-layout__header")
    div(class="mdl-layout__header-row")
      span(class="mdl-layout-title") Animkai Scrap
      div(class="mdl-layout-spacer")
      nav(class="mdl-navigation mdl-layout--large-screen-only")
        form(action="f",method="post")
          div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
            input(type="text",id="site",name="site",class="mdl-textfield__input")
            label(class="mdl-textfield__label",for="site") Site do Animakai
          input(type="submit",class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored")
