doctype html5
html(lang = "pt_br")
  head
  title Qual o link
  include jsandcss.jade
  body
    form(action="f",method="post")
      div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
        input(type="text",id="site",name="site",class="mdl-textfield__input")
        label(class="mdl-textfield__label",for="site") Site do Animakai
      br
      label(class="mdl-radio mdl-js-radio mdl-js-ripple-effect", for= "option-1")
        input(type="radio",id="option-1",class="radio__button",name="options",value="1" checked)
        span(class="mdl-radio__label") Animakai
      label(class="mdl-radio mdl-js-radio mdl-js-ripple-effect", for= "option-2")
        input(type="radio",id="option-2",class="radio__button",name="options",value="2")
        span(class="mdl-radio__label") Animes Telecine
      label(class="mdl-radio mdl-js-radio mdl-js-ripple-effect", for= "option-3")
        input(type="radio",id="option-3",class="radio__button",name="options",value="3")
        span(class="mdl-radio__label") Animes Vision
      br
      input(type="submit",class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored")
